* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.cabecalho{
    height: 10vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.container {
    display: flex;
    height: 100%;
    margin-top: 10vh;
}

.barra_lateral {
    position: fixed;
    top: 10vh;
    height: 90vh;
    min-width: 150px;
    background-image: url(../imagens/ori1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(0.5);
    box-shadow: inset -10px 0px 15px black;
    z-index: 1;
}

.direita {
    right: 0;
    box-shadow: inset 10px 0px 15px black;
}

.main {
    display: flex;
    flex-grow: 1;
    height: fit-content;
    margin-inline: 150px;
    background-color: gray;
    flex-direction: column;
}

@media screen and (max-width: 750px) {
    .barra_lateral {
        display: none;
    }

    .main {
        margin-inline: 0px;
    }

    .cabecalho {
        height: fit-content;
        width: 100%;
        position: sticky;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }

    .container {
        margin-top: 0;
    }
    
    .header_list {
        padding: 5px;
    }

    ul {
        justify-content: center;
        width: 100%;
        align-items: center;
    }
}

.secao {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.bloco {
    padding: 20px;
}

.title {
    font-size: 30px;
    margin-left: 50px;
    display: flex;
    align-items: center;
}

.icone::before {
    content: "";
    display: inline-block;
    min-width: 30px;
    min-height: 30px;
    background-image: url(../imagens/ori_logo.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    margin-right: 10px;
}

.texto {
    margin-top: 10px;
    margin-inline: 20px;
    font-family: "Atkinson Hyperlegible Mono", serif;
    text-align: justify;
}

.galeria {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    justify-content: center;
}

.galeria_imgs {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: black;
    min-height: 200px;
    min-width: 250px;
    box-shadow: 0px 0px 10px 1px black;
    display: flex;
    align-items: center;
    padding: 5px;
    margin-top: 5px;
    border-radius: 10px;
}

.galeria_img_txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: 20px;
}

.galeria1 {
    background-image: url(../imagens/ori2.jpg);
}

.galeria2 {
    background-image: url(../imagens/ori3.jpg);
}

.galeria3 {
    background-image: url(../imagens/ori4.jpg);
}

.galeria4 {
    background-image: url(../imagens/ori5.jpg);
}

.galeria5 {
    background-image: url(../imagens/ori6.jpg);
}

.galeria6 {
    background-image: url(../imagens/ori7.jpg);
}

.galeria7 {
    background-image: url(../imagens/ori8.jpg);
}

.subtitle {
    font-size: 20px;
    padding-block: 5px;
}
