* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(0, 0, 0);
    width: 100%;
}

.content {
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    background-image: url(../imagens/WhatsApp\ Image\ 2025-02-28\ at\ 09.52.01.jpeg);
    background-color: rgb(0, 0, 0);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 125px;
    border-top: 1px solid white;
}

.titulo h1 {
    color: white;
    filter: brightness(1);
}

.palavra {
    color: white;
    margin-left: 2.5em;
    margin-bottom: 1.5em; 
    margin-top: 1.5em;
    padding-bottom: 5px;
    border-bottom: 1px solid white;
    width: 200px;
}

.redes_sociais {
    padding-left: 2.5em;
    width: 100%;
    height: 100%;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    background-color: rgb(0, 0, 0);
}

.card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 400px;
    height: 266px;
    padding: 20px;
    background-color: black;
    border: 2px solid yellow;
}

.card h2, p {
    color: white;
}

.card p {
    font-size: 13px;
}

.botao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}

.botao button {
    border: 1px yellow solid;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
    transition: all 0.5s;
}

.botao button:hover {
    transform: scale(1.08);
}

.instagram_logo:hover {content: url(../imagens/Instagram2.png); transform: scale(1.8);}
.x_logo:hover {content: url(../imagens/X2.png); transform: scale(1.08);}
.youtube_logo:hover {content: url(../imagens/YouTube2.png); transform: scale(1.08);}
.facebook_logo:hover {content: url(../imagens/Facebook2.png); transform: scale(1.08);}
.tiktok_logo:hover {content: url(../imagens/TikTok2.png); transform: scale(1.08);}
.x_logo, .facebook_logo, .youtube_logo, .tiktok_logo, .instagram_logo{
    transition: all 0.5s;
}

.fale_conosco  {
    padding: 2.5em;
    width: 100%;
    height: 100vh;
    display: flex;
    gap: 30px;
    background-color: rgb(0, 0, 0);
    flex-wrap: wrap;
}

.bard_logo:hover {content: url(../imagens/Bard2.png); transform: scale(1.08);}
.phone_logo:hover {content: url(../imagens/Phone2.png); transform: scale(1.08);}
.phone_logo, .bard_logo {
    transition: all 0.5s
}

@media (max-width: 750px) {
    .titulo {
        background-size: 50px;
        height: 120px;
    }
    
    .card {
        width: 300px;
        height: 300px;
    }

    .fale_conosco {
        height: 140vh;
    }
}
